/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Fredoka', sans-serif;
    font-size: 23px;
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    margin: 30px;
    color: rgb(220, 21, 93);

}

header{
    text-align: center;
    /* DEBAGGING */
    background-color: aqua ;
}

main{
    
}
.row{
    margin-top: 4%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    background-color: brown;
    border: 2px solid white;
    width: 30%;
    height: 100px;
    float: left;

}

.central-card{
    margin: 0 5%;
}